header#navbar{
    position: relative;
}
.top-menu {
    background: #282F39;
    opacity: 0.7;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#top-menu.top-menu {
    color: #fff;
}

.top-menu .nav {
    text-align: right;
}

.top-menu .nav {
    white-space: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


.top-menu .nav>li+li {
    margin-left: -3px;
}
.top-menu .nav>li {
    text-align: left !important;
}
.top-menu .nav>li {
    display: inline-block;
    position: relative;
}
.top-menu .nav>li>a {
    padding: 10px 20px;
    color: #ffffff;
    font-family: Exo2Normal, sans-serif;
    font-size: 13px;
    height: 40px;
    line-height: inherit;
    position: relative;
    display: block;
}
.top-menu .nav>li.active>a, .top-menu .nav>li>a:focus, .top-menu .nav>li>a:hover {
    background: #191919;
}
.top-menu .nav>li:focus>a, .top-menu .nav>li:hover>a, .top-menu .nav>li>a:hover {
    background: #191919;
}
.top-menu .nav>li.active>a, .top-menu .nav>li.active>a:focus, .top-menu .nav>li.active>a:hover {
    background: #191919;
}
.colorMenu {
    color: #ffffff;
}
.top-menu .nav>li>a .caret.pull-right {
    margin-top: 8px;
    margin-left: 5px;
}
.top-menu .nav .sub-menu{
    list-style-type: none;
}
.top-menu .nav .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #282F39;
    opacity: 1;
    width: 250px;
    margin: 0;
    padding: 10px 0;
}
.top-menu .sub-menu>li>a {
    padding: 5px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.top-menu .nav .sub-menu>li>a .caret {
    margin-top: 7px;
}
.top-menu .sub-menu>li.active>a, .top-menu .sub-menu>li.active>a:focus, .top-menu .sub-menu>li.active>a:hover, .top-menu .sub-menu>li>a:focus, .top-menu .sub-menu>li>a:hover {
    background: black;
}
.top-menu .nav>li.has-sub:hover>.sub-menu {
    display: block;
}
.top-menu .sub-menu .sub-menu {
    position: relative;
    left: 0;
    top: 0;
}
.top-menu .nav>li.menu-control {
    position: absolute;
    top: 0;
    width: 40px;
    background: #ecf0f5;
    height: 40px;
    margin: 0;
}
.top-menu .nav>li.menu-control {
    background: #ecf0f5;
}
.top-menu .nav>li.menu-control.menu-control-left {
    left: -50px;
}
.top-menu .nav>li.menu-control.menu-control-left>a {
    -webkit-box-shadow: 5px 0 8px -3px rgba(0,0,0,.5);
    box-shadow: 5px 0 8px -3px rgba(0,0,0,.5);
}
.top-menu .nav>li.menu-control.menu-control-right {
    right: -50px;
}
.top-menu .nav>li.menu-control.menu-control-right>a {
    -webkit-box-shadow: -5px 0 8px -3px rgba(0,0,0,.5);
    box-shadow: -5px 0 8px -3px rgba(0,0,0,.5);
}
.top-menu .nav>li.menu-control>a {
    padding: 0;
    text-align: center;
    line-height: 40px;
}
.top-menu .nav>li.menu-control>a i {
    float: none;
    margin: 0;
    font-size: 18px;
    display: block;
    line-height: 40px;
    color: #2b425b;
    width: auto;
    text-align: center;
}
.top-menu .nav>li.menu-control.menu-control-right.show {
    -webkit-animation: slideInRight .2s;
    animation: slideInRight .2s;
    right: 0;
}
.top-menu .nav>li.menu-control.menu-control-left.show {
    -webkit-animation: slideInLeft .2s;
    animation: slideInLeft .2s;
    left: 0;
}
@media (max-width: 767px) {
    .top-menu {
        position: relative;
        top: 0;
        height: auto;
        display: none;
    }
}

@media (max-width: 767px) {
    #top-menu.top-menu {
        position: relative;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
}
@media (max-width: 767px) {
    .top-menu .nav {
        margin: 0 !important;
    }
}
@media (max-width: 767px) {
    .top-menu .nav > li {
        display: block;
    }
}
@media (max-width: 767px) {
    .top-menu .nav .sub-menu {
        position: relative;
        top: 0;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .top-menu .nav > li.has-sub:hover > .sub-menu {
        display: none;
    }
}
@media (max-width: 767px) {
    .top-menu .nav > li.menu-control {
        display: none !important;
    }
}