.required label:after{
    content: ' *';
}

.html5buttons {
    float: right;
}

.dataTables_length {
    float: left;
}

.dataTables_filter label {
    margin-right: 5px;
}

.form-control-feedback{
    top: 30px !important;
}

.display-none {
    display: none;
}

.pointer-events {
    pointer-events: none;
}

#logo-navbar {
    width: 220px;
}

#navbar-header {
    background-color: #ffffff !important;
}

#cantidad-notificaciones {
    font-size: .7em !important;
}

.mainnav-sm #div-logo {
    overflow: hidden;
    width: 38px;
    padding-left: 5px;
}

.jq-ry-group-wrapper, .jq-ry-container {
    z-index: 0 !important;
}

.username {
    line-height: 15px;
    margin-top: 12px;
    margin-right: 14px;
}

.tipo-usuario {
    margin-right: 10px;
    white-space: nowrap;
    margin-top: 25px;
}

ul.navbar-top-links {
    vertical-align: middle;
}

ul.navbar-top-links>li, ul.navbar-top-links>li>a {
    height: 60px;
}

.navbar-brand {
    margin-left: 5px;
    margin-top: 10px;
}

.btn-dark-basic, .btn-dark, .btn-dark:focus, .btn-dark.disabled:hover, .btn-dark:disabled:hover, .btn-hover-dark:hover,
.btn-hover-dark:active, .btn-hover-dark.active, .btn.btn-active-dark:active, .btn.btn-active-dark.active,
.dropdown.open>.btn.btn-active-dark, .btn-group.open .dropdown-toggle.btn.btn-active-dark {
    background-color: #626971;
    border-color: #90979f;
    color: #fff;
}

.form-icon.btn.btn-dark:after {
  color: #fff;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-color: #3b4048;
  border-color: #52575f;
  color: #fff;
}

.badge-dark {
  background-color: #626971;
}

.label-dark {
  background-color: #626971;
}

.bg-dark {
  background-color: #626971;
}
.bg-dark,
.bg-dark a {
  color: #fff;
}

#content-container {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 86vh;
}

#titulo-seccion-container {
    text-align: center;
    background-color: rgba(40, 47, 57, 0.7);
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.container-row {
    padding-left: 9.5px;
    padding-right: 9.5px;
    padding-bottom: 10px;
}

#titulo-seccion-container h1 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 420px) {
    #dropdown-notificaciones {
        right: auto;
        left: -87px;
    }
}

body {
    font-size: 14px;
}

#menu-toggle-button {
    display: none;
}

@media (max-width: 768px) {
    #menu-toggle-button {
        display: block;
    }

    #content-container {
        padding-top: 0;
    }
}

