{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo_pagina %}
    Historial transferencia
{% endblock titulo_pagina %}

{% block titulo_seccion %}
{% endblock titulo_seccion %}

{% block titulo_panel %}
    Historial transferencia
{% endblock titulo_panel %}

{% block contenido_pagina %}
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Historial de transferencia de recursos</h4>
            </div>
            <div class="panel-body">
                <table id="data-table" class="table dataTable table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Fuente</th>
                            <th>recurso</th>
                            <th>remitente</th>
                            <th>destinatario</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr class="gradeU">
                            <td>{{ object.fecha|date:'Y-m-d H:i:s'}}</td>
                            <td>{% if object.fuente %} {{ object.fuente }} {% else %} ALMACEN {% endif %}</td>
                            <td>{{ object.recurso }}</td>
                            <td>{{ object.remitente }}</td>
                            <td>{{ object.destinatario }}</td>
                            <td>{{ object.cantidad }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
{% endblock contenido_pagina %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/personalizado/tabla-listar-usuarios.js' %}"></script>
{% endblock javascript %}
