{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_pagina %}
    {% if object %}Editar{% else %}Registrar{% endif %} Recurso
{% endblock titulo_pagina %}

{% block titulo_seccion %}
    {% if object %}Editar{% else %}Registrar{% endif %} Recurso
{% endblock titulo_seccion %}

{% block titulo_panel %}
    {% if object %}Editar{% else %}Registrar{% endif %} Recurso
{% endblock titulo_panel %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'plugins/chosen/chosen.min.css' %}">
{% endblock css %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'plugins/chosen/chosen.jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/validaciones/validacion-tecnico.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/validaciones/gestion_usuarios/validaciones-usuarios-form.js'%}"></script>
{% endblock javascript %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form method="POST" class="form-horizontal" enctype="multipart/form-data" id="usuario-form">{% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary"%}
                </div>
            </form>
        </div>
    </div>
{% endblock contenido_panel %}