{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo_pagina %}
    Listar Recursos
{% endblock titulo_pagina %}

{% block titulo_seccion %}
{% endblock titulo_seccion %}

{% block titulo_panel %}
    Listar Recursos
{% endblock titulo_panel %}

{% block contenido_pagina %}
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Recursos registrados</h4>
            </div>
            <div class="panel-body">
                <div style="padding-bottom: 15px; padding-right: 15px;" class="row">
                    <div class="pull-right">
                        <a href="{% url 'recursos:crear' %}" class="btn btn-primary"> Agregar recurso</a>
                    </div>
                </div>
                <table id="data-table" class="table dataTable table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Marca</th>
                            <th>Serie</th>
                            <th>Cantidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr class="gradeU">
                            <td>{{ object.nombre }}</td>
                            <td>{{ object.categoria }}</td>
                            <td>{{ object.marca }}</td>
                            <td>{{ object.serie }}</td>
                            <td>{{ object.cantidad }}</td>
                            <td>
                                <div class="btn-group m-r-5 m-b-5">
								<a href="javascript:;" class="btn btn-success">Opciones</a>
								<a href="javascript:;" data-toggle="dropdown" class="btn btn-success dropdown-toggle">
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu pull-right">
									<li><a href="{% url 'recursos:editar' object.id %}"><i class="fa fa-edit text-primary"></i> Editar</a></li>
									<li><a href="{% url 'recursos:crear_asignacion' object.id %}"><i class="fa fa-send text-success"></i> Transferir recursos</a></li>
								</ul>
							</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
{% endblock contenido_pagina %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/personalizado/tabla-listar-usuarios.js' %}"></script>
{% endblock javascript %}
