{% extends 'base.html' %}
{% load bootstrap3 %}

{% block breadcrum %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a class="active">Cambio Contraseña</a>
{% endblock breadcrum %}

{% block titulo_pagina %}
    Cambio Contraseña
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Cambio Contraseña
{% endblock titulo_panel %}

{% block titulo_seccion %}
    Cambio Contraseña
{% endblock titulo_seccion %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>¿Olvidaste tu contraseña?, escribe tu correo y te enviaremos un enlace para recuperarla.</h3>
            <form action="" method="POST" class="form-horizontal"  id="password-reset-form">{% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary btn pull-right"%}
            </form>
        </div>
    </div>
{% endblock contenido_panel %}