{% extends 'base.html' %}
{% load bootstrap3 %}

{% block breadcrum %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a class="active">Cambio Contraseña</a>
{% endblock breadcrum %}

{% block titulo_pagina %}
    Cambio Contraseña
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Cambio Contraseña
{% endblock titulo_panel %}

{% block titulo_seccion %}
    Cambio Contraseña
{% endblock titulo_seccion %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-success" role="alert">Su nueva contraseña ha sido establecida. Puede continuar para iniciar sesión.</div>
            <p><a href="{{ login_url }}">Iniciar Sesión</a></p>
        </div>
    </div>
{% endblock contenido_panel %}