{% extends 'base.html' %}
{% load bootstrap3 %}

{% block breadcrum %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a class="active">Cambio Contraseña</a>
{% endblock breadcrum %}

{% block titulo_pagina %}
    Cambio Contraseña
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Cambio Contraseña
{% endblock titulo_panel %}

{% block titulo_seccion %}
    Cambio Contraseña
{% endblock titulo_seccion %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-success" role="alert"> Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</div>
            <div class="alert alert-success" role="alert"> Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</div>
        </div>
    </div>
{% endblock contenido_panel %}

