{% extends 'base.html' %}
{% load bootstrap3 %}

{% block breadcrum %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a class="active">Cambio Contraseña</a>
{% endblock breadcrum %}

{% block titulo_pagina %}
    Cambio Contraseña
{% endblock titulo_pagina %}

{% block titulo_seccion %}
    Cambio Contraseña
{% endblock titulo_seccion %}

{% block titulo_panel %}
    Cambio Contraseña
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if validlink %}
                <h3>Por favor escriba su nueva contraseña dos veces, así podemos verificar que la haya escrito correctamente.</h3>
                <form action="" method="POST" class="form-horizontal"  id="password-confirm-form">{% csrf_token %}
                    {% bootstrap_form form show_help=False %}
                    {% bootstrap_button "Cambiar contraseña" button_type="submit" button_class="btn-primary btn pull-right"%}
                </form>
            {% else %}
                <div class="alert alert-danger" role="alert">El enlace de cambio de contraseña es invalido, probablemente porque ya ha sido usado. Porfavor solicite un nuevo cambio de contraseña.</div>
            {% endif %}
        </div>
    </div>
{% endblock contenido_panel %}
