{% extends 'base.html' %}
{% load bootstrap3 %}

{% block breadcrum %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a class="active">Cambio Contraseña</a>
{% endblock breadcrum %}

{% block titulo_pagina %}
    Cambio Contraseña
{% endblock titulo_pagina %}

{% block titulo_seccion %}
{% endblock titulo_seccion %}

{% block titulo_panel %}
    Cambio Contraseña
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Por favor ingrese su antigua contraseña, y dos veces la nueva para verificar que la información sea válida</h3>
            <form action="" method="POST" class="form-horizontal"  id="password-reset-change">{% csrf_token %}
                {% bootstrap_form form show_help=False %}

                {% bootstrap_button "Cambiar" button_type="submit" button_class="btn-primary btn pull-right"%}
            </form>
        </div>
    </div>
{% endblock contenido_panel %}

{% block javascript %}
    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock javascript %}